$red: rgb(234, 67, 53);
$orange: rgb(255, 159, 67);
$yellow: rgb(251, 188, 4);
$green: rgb(52, 168, 83);
$blue: rgb(66, 133, 244);
$indigo: rgb(75, 0, 130);
$violet: rgb(108, 52, 131);
$grey: rgb(95, 99, 104);
$light: rgb(248, 249, 250);
$dark: rgb(32, 33, 36);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$red-sub: rgb(254, 235, 233);
$text-red-sub: rgb(166, 23, 23);
$orange-sub: rgb(248, 234, 210);
$text-orange-sub: rgb(166, 111, 23);
$yellow-sub: rgb(255, 248, 231);
$text-yellow-sub: rgb(166, 111, 23);
$green-sub: rgb(232, 245, 233);
$text-green-sub: rgb(23, 111, 66);
$blue-sub: rgb(232, 240, 254);
$text-blue-sub: rgb(23, 78, 166);
$indigo-sub: rgb(232, 232, 254);
$text-indigo-sub: rgb(75, 0, 130);
$violet-sub: rgb(243, 232, 254);
$text-violet-sub: rgb(108, 52, 131);

$button-grey-border: rgba($grey, 0.2);
$shadow-lg: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
 0 2px 6px 2px rgba(60, 64, 67, 0.15);
$shadow-sm: 0 2px 8px 0 rgba(32, 33, 36, 0.08);
$shadow-inset: inset 0 1px 2px 0 rgba(60, 64, 67, 0.3),
 inset 0 2px 6px 2px rgba(60, 64, 67, 0.15);

$container-padding: 1.5rem;
$row-gutter-x: 2.5rem;
$row-gutter-y: 0;

$accordion-gutter-x: 0;
$accordion-gutter-y: 1.5rem;