/* Layout */
.container-fluid {
 background-color: $light;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 & > * {
  width: 100%;
  padding-right: calc($container-padding * 0.5);
  padding-left: calc($container-padding * 0.5);
  margin-left: auto;
  margin-right: auto;
 }
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
 width: 100%;
 padding-right: calc($container-padding * 0.5);
 padding-left: calc($container-padding * 0.5);
 margin-right: auto;
 margin-left: auto;
}
@media (min-width: 576px) {
 .container,
 .container-fluid > *,
 .container-sm {
  max-width: 540px;
 }
}
@media (min-width: 768px) {
 .container,
 .container-fluid > *,
 .container-md,
 .container-sm {
  max-width: 720px;
 }
}
@media (min-width: 992px) {
 .container,
 .container-fluid > *,
 .container-lg,
 .container-md,
 .container-sm {
  max-width: 960px;
 }
}
@media (min-width: 1200px) {
 .container,
 .container-fluid > *,
 .container-lg,
 .container-md,
 .container-sm,
 .container-xl {
  max-width: 1140px;
 }
}
@media (min-width: 1400px) {
 .container,
 .container-lg,
 .container-fluid > *,
 .container-md,
 .container-sm,
 .container-xl,
 .container-xxl {
  max-width: 1320px;
 }
}
